<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MateMatchApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MateMatch"
        tools:targetApi="31">

        <!-- ✅ 앱 진입점 (로그인) -->
        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원가입 / 목적 선택 -->
        <activity android:name=".auth.ui.SignUpActivity" />
        <activity android:name=".purpose.ui.PurposeSelectionActivity" />

        <!-- 메인화면 -->
        <activity android:name=".main.MainActivity" />

        <!-- ✅ 프로필 설정 단계별 Activity (A~E) -->
        <activity
            android:name=".profile.ui.ProfileSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.MateMatch" />

        <activity
            android:name=".profile.ui.ProfileSetupBActivity"
            android:exported="false"
            android:theme="@style/Theme.MateMatch" />

        <activity
            android:name=".profile.ui.ProfileSetupCActivity"
            android:exported="false"
            android:theme="@style/Theme.MateMatch" />

        <activity
            android:name=".profile.ui.ProfileSetupDActivity"
            android:exported="false"
            android:theme="@style/Theme.MateMatch" />

        <activity
            android:name=".profile.ui.ProfileSetupEActivity"
            android:exported="false"
            android:theme="@style/Theme.MateMatch" />

        <!-- ✅ 추가적으로 Firebase 관련 서비스 (필요 시 자동 생성됨)
             FirebaseMessagingService나 Dynamic Links 등을 여기서 등록 가능 -->
    </application>

</manifest>
