<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- voice -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MateMatchApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MateMatch"
        tools:targetApi="31">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="306ea9db2d08a4684b5a8e110f9f0a4e" />

        <activity android:name=".main.TestActivity" />



        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.ui.SignUpActivity" />

        <!-- 목적 선택 관련 -->
        <activity android:name=".purpose.ui.PurposeSelectionActivity" />
        <activity android:name=".purpose.ui.SubPurposeSelectionActivity" />

        <!-- 메인화면 -->
        <activity android:name=".main.ui.MainActivity" />

        <!-- 프로필 설정 관련 (A~E 단계) -->
        <activity android:name=".profile.ui.ProfileSetupActivity" />
        <activity android:name=".profile.ui.ProfileSetupB1Activity" />
        <activity android:name=".profile.ui.ProfileSetupB2Activity" />
        <activity android:name=".profile.ui.ProfileSetupB3Activity" />
        <activity android:name=".profile.ui.ProfileSetupCActivity" />
        <activity android:name=".profile.ui.ProfileSetupDActivity" />
        <activity android:name=".profile.ui.ProfileSetupEActivity" />

        <!-- chat -->
        <activity android:name=".main.ui.chat.ChatRoomActivity" />

        <!-- level -->
        <activity android:name=".main.ui.chat.LevelMeterActivity" />




    </application>

</manifest>
